<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @user.first_name %>!</h3>
    <p>
      Someone has scheduled a consultation with you!
    </p>
    <p>
      Log in to your account to view the details of this consulatation: <%= @url %>
    </p>
    <p>Thank you for using <b>FirstClass</b> and have a great consultation!</p>
  </body>
</html>