<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>!</h1>
    <p>
      Someone has scheduled a consultation with you!
    </p>
    <p>
      Log in to your account to view the details of this consulatation: <%= @url %>
    </p>
    <p>Thank you for using FirstClass and have a great consultation!</p>
  </body>
</html>