<div class="max-w-3xl mx-auto px-4">
  <% if @consultation_type.payment_required? %>
    <h1 class="font-bold text-3xl mb-6">Schedule your consultation for <%= number_to_currency(@consultation_type.price) %></h1>
    <%# stripe form here %>
  <% else %>
    <h1 class="font-bold text-3xl mb-6">Schedule your free consultation</h1>
  <% end %></h1>

  <%= render 'form', consultation: @consultation %>
</div>
