


<div class="grid h-screen content-start gap-4 px-10 py-10 sm:grid-cols-1 sm:place-items-center md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
	<% @users.each do |user| %>
  <div class="max-w-md border bg-slate-50 px-5 py-5 text-center shadow-xl">
    <div class="inline-flex h-32 w-32 items-center justify-center rounded-full bg-sky-500 text-white py-4 px-4 mt-4 mb-4">Image here</div>
    <h1 class="text-3xl font-semibold"><%= user.name %></h1>
    <p class="text-lg font-light text-gray-600"><%= user.specialization %></p>
    <div class="px-5 py-5">
      <p>Consultations offered: <%= user.consultation_types.count %></p>
      <p>Offers free and premium consultations</p>
    </div>
		<div class="px-5 py-5">
			<%= link_to "Open Consultant Profile", user_path(consultation_link: user.consultation_link), class: button_class(theme: "secondary") %> 
		</div>
  </div>
	<% end %>
</div>
