<div class="max-w-5xl mx-auto pb-8 rounded shadow-xl border">
    <div class="px-6 py-10 rounded-t-xl bg-gray-50">
        <h1 class="text-3xl font-extrabold text-center"><%= @user.name %>'s Consultation Page</h1>
        <p class="text-center text-gray-600">Book your preferred consultation using the booking options below

    </div> 
</div>